

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family:'raleway';
  src: url(fonts/raleway-v36-latin-800.woff2);
  font-weight: 800;
}
@font-face {
  font-family:'raleway';
  src: url(fonts/raleway-v34-latin-700.woff2);
  font-weight: 700;
}
@font-face {
  font-family:'raleway';
  src: url(fonts/raleway-v34-latin-regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family:'inter';
  src: url(fonts/inter-v19-latin-800.woff2);
  font-weight: 800;
}

:root{
  --logoColor:#4E47FF;
}

img{
  max-width: 100%;
  display: block;
}
header{
  max-width: 1440px;
  height: 698px;
  background-image: url(Assets/Hero-bg.png);
  background-repeat: no-repeat;
  margin-inline: auto;
}
.head{
  max-width: 1150px;
  margin-inline:auto;
  display: flex;
  flex-direction: column;
   gap: 158px;
}
.nav{
  padding-block:2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

 
}
.logo{
  font-size: clamp(2rem, 1.5256rem + 2.0513vw, 3rem);
   color: color-mix(in srgb, #9403FD 50%, #00ADFE 50%);
   font-family:'inter';
}
   

.SignupBtn{
  background:#4E47FF;
  color: white;
  border: none;
  width: 132px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  font-family:'raleway';
  font-weight: 700;

  
}
.headingTag{
  max-width: 905px;
  height: 237px;
  margin-inline: auto;
  text-align: center;
}
h1{
  font-size: clamp(2rem, 0.7667rem + 5.3333vw, 4.6rem);
   font-family:'raleway';
}
.stayFocusBtn{
  background:#4E47FF;
  color: white;
  border: none;
  width: 174px;
  height: 48px;
  border-radius: 10px;
   cursor: pointer;
  font-family:'raleway';
  font-weight: 700;
margin-top:37px;
}